.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-color);
  height: 100vh;
  position: fixed;
  width: 200px;
  font-size: 1.4rem;
  color: var(--primary-color);
}

.sidebar .brand img {
  width: 100px;
}

.sidebar ul li a {
  color: var(--primary-color);
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.sidebar ul li {
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.sidebar ul li:hover {
  color: var(--secondary-color);
}

.sidebar ul li a:hover {
  color: var(--secondary-color);
}

.sidebar ul li button:hover {
  color: var(--secondary-color);
}

.sidebar button {
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  color: var(--primary-color);
  font-size: 1.4rem;
  margin: 0;
  border: none;
}
