.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  
  @media (max-width: 1200px) {
    .projects-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 950px) {
    .projects-container {
      grid-template-columns: 1fr;
    }
  }
  