.whole-single-container{
    display: grid;
    grid-template-columns: 300px auto;
    padding: 2rem;
    column-gap: 2rem;
}


.profile-image{
    display: flex;
    flex-direction: column;   

}
.profile-image img{
    width: 100%;
}
.btns button{
    width: 100%;
}
.prof{
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
.prof h2{
    border-bottom: 3px solid var(--primary-color);
    width: max-content;
    font-size: 2rem;
}
.prof div{
    font-size: 1.2rem;
}
.the-form span{
    font-size: 1.5rem;
    font-weight: bold;
    color:var(--primary-color);
}
.block-2{
    margin-top: 35px;
}


@media (max-width: 1250px) {
    .whole-single-container{
        grid-template-columns: auto;
    }
    .profile-image img{
        width: auto;
        border-radius: 50%;
    }
    .prof h2{
        margin-top: 20px;
    }
  }
  
  @media (max-width: 950px) {
    .whole-single-container{
        grid-template-columns: auto;
    }
    .profile-image img{
        width: auto;
    }
    .prof h2{
        margin-top: 20px;
    }
  }
  
  @media (max-width: 700px) {
    .whole-single-container{
        grid-template-columns: auto;
    }
    .profile-image img{
        width: auto;
    }
  }
  
  @media (max-width: 450px) {
    .whole-single-container{
        grid-template-columns: auto;
    }
    .profile-image img{
        width: auto;
    }
    }